img.laura{
    width: 100px;
}
h1 {
    color:maroon;
    background-color: black;
}
body {
    background-color: maroon;
}
p {
    color: orange;
    font-size: 25px;
}
ul {
    color: orange;
    font-size: 23px;
}